{% extends "base.html" %}

{% block title %}System Certifications{% endblock %}


{% block content %}

<h2>System Certifications</h2>

<table>
    <tr>
    	<th>Vendor</th>
    	<th>Product</th>
    	<th>Certifications</th>
    </tr>
    {% for system in object_list %}
    	{% url system.views.SystemList vendor=system.vendor as vendor_url %}
    <tr>
        <td><a href="{{ vendor_url }}">{{ system.vendor }}</a></td> 
        <td>{{ system.product }}</td>
        <td>
        {% for cert in system.certification_set.all %}
        	{{ cert.software }}
        {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
