{% extends "base.html" %}

{% block title %}Certifications{% endblock %}

{% block content %}

    <h2>Hardware Certifications</h2>
    
    <p>This list shows all certification objects, which is probably not what you want.  The reason is that a single
    system with multiple certifications shows up multiple times in the table.</p>
    
    <p>A better view can be seen in the certification/systems URL.</p>
    
    <table>
    <tr>
    	<th>System</th>
    	<th>Software</th>
    	<th>Status</th>
    </tr>
    {% for cert in object_list %}
    <tr>
    	<td>{{ cert.system.vendor }} {{ cert.system.product }}</td>
    	<td>{{ cert.software.product }} {{ cert.software.name }}</td>
    	<td>{{ cert.state }}</td>
 	</tr>   
	{% endfor %}
    </table>
{% endblock %}
